body {
    background:rgb(120, 155, 118);
    font-family:Arial, Helvetica, sans-serif;
}

.assignment {
    display: flex;
    padding: 10px;
    margin: 10px;
    background: rgb(170, 210, 170) 
}

.assignment img {
    width: 200px;
    padding: 10px;

}

h1 {
    color:rgb(106, 46, 132);
    text-align:center;
}